@import "tailwindcss";

:root {
  --background: var(--color-stone-100);
  --foreground: var(--color-stone-950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-stone-950);
    --foreground: var(--color-stone-100);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cascadia Code", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5{
  text-transform: capitalize;
  font-family: "Bai Jamjuree", sArial, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: var(--text-4xl);
}


.dotted-background {
  // yoinked from https://codepen.io/FlyC/pen/oLpJWJ
  --dot-bg: var(--background);
  --dot-color: var(--color-stone-900);
  --dot-size: 2px;
  --dot-space: calc(var(--spacing) * 4);
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), 
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), var(--dot-color);
}
