@import "tailwindcss";

$primary-color: #f00;

:root {
  --background: var(--color-stone-100);
  --background-bright: var(--color-stone-300);
  --foreground: var(--color-stone-950);
  --foreground-dimmed: var(--color-stone-700);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-stone-950);
    --background-bright: var(--color-stone-800);
    --foreground: var(--color-stone-100);
    --foreground-dimmed: var(--color-stone-300);
  }
}

body {
  background: var(--background);
  color: var(--foreground-dimmed);
  font-family: "Cascadia Code", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  text-transform: capitalize;
  font-family: "Bai Jamjuree", sArial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--foreground);
}

h1 {
  font-size: var(--text-4xl);
}

.content p {
  margin-bottom: 2rem;
}
.content a {
  color: $primary-color;
  text-decoration: underline;
}
.content img {
  background-color: var(--background-bright);
  padding: 2rem;
}

.dotted-background {
  // yoinked from https://codepen.io/FlyC/pen/oLpJWJ
  --dot-bg: var(--background);
  --dot-color: var(--background-bright);
  --dot-size: 2px;
  --dot-space: calc(var(--spacing) * 4);
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), 
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), var(--dot-color);
}
